{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NHPRCZ45');</script>
  <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}   {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/androidstudio.min.css">
    <link rel="stylesheet" href="{% static 'save.css' %}">
    <link rel="stylesheet" href="{% static 'save1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="google-site-verification" content="np5ojf-dPtE5Vyp3c564lJst6JoRIQas4lvr1MPBC8A" />
</head>
    <body>

      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHPRCZ45"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <div class="container-fluid"> -->
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link         {% block active %}
      
    {% endblock active %} mx-2" aria-current="page" href="/">CloudText</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" href="/save/">Save</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link active" href="/get/">Get</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link  {% block aboutt %}{% endblock aboutt %}" aria-current="page" href="/about/">About</a>
              </li>
            </ul>
            <span class="navbar-text mx-2">
              Type your code here
            </span>
          </div>
          <form method="post" action="/get/" class="d-flex ms-auto mx-3">
            {% csrf_token %}
            <input class="form-control mr-sm-50" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
            
        </form>
        <!-- </div> -->
      </nav>

      {% if val > 0 %}  
          
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Amigos! </strong>Your code is <strong>{{uuid}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        {% endfor %}
      {% endif %}
      {% endif %}


      <!-- For Error Messages in search view -->
      {% if val2 > 0 %}  
      
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Invalid Code</strong>  Enter your 4 Digit Unique Code
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
        {% endfor %}
      {% endif %}
      {% endif %}


{% block body %}
  
{% endblock body %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Loading bootstrap 5.3.0 via CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

<script>
  // Set the interval to 14 minutes (840,000 milliseconds)
  const reloadInterval = 840000;

  // Function to reload the page
  function reloadPage() {
      location.reload();
  }
  // Set a timeout to call the reloadPage function after the specified interval
  setTimeout(reloadPage, reloadInterval);
  </script>
</body>
</html>