<form method="get" action="/get" class="d-flex mx-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search " aria-label="Search" name="query" id="query">
    <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
</form>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">CloudText</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" href="/save/">Save</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active" href="/get/">Get</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="About/">About</a>
          </li>
        </ul>
        <span class="navbar-text">
          Type your code here
        </span>
      </div>
      <form method="get" action="/get" class="d-flex mx-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search " aria-label="Search" name="query" id="query">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <p><strong>Connect with the Creator!! :</strong> &nbsp<a href="https://www.linkedin.com/in/debanjan-bhattacharjee-939400224" class="fa-brands fa-linkedin fa-xl" style="color: #000000;" target="_blank"></a> &nbsp<a href="https://github.com/Debanjan29" class="fa-brands fa-github fa-xl" style="color: #040e20;" target="_blank"></a> &nbsp<a href="https://www.instagram.com/db_0303"target="_blank"><i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i></a>
    &nbsp<a href="https://www.facebook.com/profile.php?id=100076618609412" target="_blank"><i class="fa-brands fa-facebook fa-xl" style="color: #011332;"></i></a></p>
    
  linkedin button in navbar  <a href="https://www.linkedin.com/in/debanjan-bhattacharjee-939400224" class="fa-brands fa-linkedin fa-xl" style="color: #1a63e0;" target="_blank"></a>